@import url("https://fonts.googleapis.com/css2?family=Roboto@&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: "Roboto", sans-serif; 
    color: aliceblue;
    line-height: 1.5rem;
    min-height: 100vh;
    min-width: 600px;
}

h1 {
    line-height: 2rem;
}

.main-container {
  width: 600px;
  background-color: hsla(209, 61%, 52%, 0.555);
  margin: 20px auto;
  padding: 30px;
  border: 1px black solid
  
}

input[type="text"], input[type="email"], input[type="email"] {
    margin-bottom:5px;
}

select {
    margin-bottom: 15px;
}

.main-container input#muu2 {
    width: 300px;
    margin-top:5px;
    margin-left: 15px;
    border: none;
    padding: 5px;
    
 }

legend, input[type="radio"],input[type="checkbox"], textarea {
    margin-left: 15px;
}  

legend {
    padding: 5px;
}

textarea{
    width: 95%;
    padding:5px;
}

button {
    padding: 15px;
    background-color:  hsla(209, 61%, 52%, 0.555);

}

















